<!DOCTYPE html>
<html lang="en">
    <head>
        <title>What's Up</title>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'belt_app/index_style.css' %}" rel="stylesheet">

    </head>
    <body>
        <h1>Hello, {{ request.session.response.name}} </h1>
        <a href="{% url 'main:logout' %}">Logout</a>
        <div class="list">
            <div id="errors">
 {{message}}
        </div>
            <h3>Here are your appointments for today, {{today}}</h3>
            <table>   
                    <td>Tasks</td>
                    <td>Time</td>
                    <td>Status</td>
                    <td>Action</td>
                    {% for task in todays_appt %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.time }}</td>
                    <td>{{task.status}}</td>
                    <td>
                    {% if task.status != "Done" %}
                    <a href="{% url 'belt:edit_page' id=task.id %}">Edit</a>
                    <a href="{% url 'belt:destroy' id=task.id %}">Delete</a></td>
                    {% endif %}
                </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="list">
            <h3>Your other appointments</h3>
            <table>   
                    <td>Tasks</td>
                    <td>Date</td>
                    <td>Time</td>
                    {% for task in upcoming %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{task.date}}</td>
                    <td>{{task.time}}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
            <div id="add_appt">
                <form action="{% url 'belt:add_appt' %}", method="POST">
                    {% csrf_token %}
                    <h3>Add Appointment</h3>
                    Date:<input type="date" name="date" placeholder= required>
                    Time:<input type="time" name="time" required>
                    Task:<input type="text" name="task" required>
                    <input type="submit" name="" value="Add">
                </form>
            </div>
    </body>
</html>