<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{item.item}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <div id="container">
            <div id="nav">
                <a href="{% url 'belt:index' %}">Home</a>
                <a href="{% url 'main:logout' %}">Logout</a>
            </div>
                <h1>{{item.item}}</h1>
                <h4>Users who added this product/item under their wish list</h4>
                {% for user in item.user.all %}
                <p>{{user.username}}</p>
                {% endfor %}
        </div>
    </body>
</html>