#container, #registerform, #loginform {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#container {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #DBDCDB;
    width: 250px;
}
#registerform {
    width: 160px;
}
#loginform {
    width: 160px;
    margin-bottom: 20px;
}
#errors {
    text-align: center;
    color: red;
    font-size: 20px;
}
.submit {
    margin: 10px 0 0 auto;
    display: block;
    border-radius: 10px;
    color: white;
    background-color: #597EAA;
}
.submit:hover{
    box-shadow: 3px;
}
input {
    margin: 3px;
}
hr {
    text-decoration: none;
    width: 70%;
}
h1 {
    margin-bottom: 0;
    /*color: #86AFDB;*/
}
h5 {
    color: dimgray;
    margin: 0;
    font-size: 8px;
}